.filters_list {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 10px;
  border-radius: 35px;
  margin-bottom: 15px;
}

.filter_line {
  margin-right: 5px;
}

.button {
  border-radius: 70px;
}
