.content {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.select {
  padding: 10px;
  font-size: 16px;
}

.input {
  padding: 10px;
  font-size: 16px;
}

.button {
  padding: 10px;
  font-size: 16px;
}
