.table {
  border-collapse: inherit;
}

.thead {
  background-color: #362f4b;
  color: white;
}

.tr {
  margin: 0;
}

.th {
  padding: 10px;
}

.th:first-child {
  border-radius: 15px 0px 0px 0px;
}

.th:last-child {
  border-radius: 0px 15px 0px 0px;
}

.tbody tr td {
  padding: 10px;
}

.tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
